.nav {
  border-bottom: none;
}
.nav li a {
  background-color: #7da852;
  color: black;
}
.nav li.active a {
  background-color: #9DD267;
  color: black;
}
.quiz-pane {
  background-color: #9DD267;
  height:90%;
  padding: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
}
.quiz-pane img, .quiz-pane video{
  width: 100%;
  border-radius: 1em;
  box-shadow: 0.5vh 0.5vh 0.25vh #82a875;
}
.quiz-pane audio{
  width: 100%;
  box-shadow: 0.5vh 0.5vh 0.25vh #82a875;
}
.radio label {
  background-color: #ADE0F1;
  width: 100%;
  height: 5em;
  text-align: center;
  padding-top: 2em;
  border-radius: 1em;
  box-shadow: 0.5vh 0.5vh 0.25vh #82a875;
}
.radio label.active {
  background-color: #0098A5;
}
.radio label input {
  visibility: hidden;
}
.button_next{
  background-color: #FFC842;
  border-radius: 1em;
  border: none;
  height: 4em;
  width: 10em;
  box-shadow: 0.5vh 0.5vh 0.25vh #82a875;
}
.button_previous{
  background-color: #FF5B49;
  border-radius: 1em;
  border: none;
  height: 4em;
  width: 10em;
  box-shadow: 0.5vh 0.5vh 0.25vh #82a875;
}
.button_restart{
  background-color: #FFC842;
  border-radius: 1em;
  border: none;
  height: 4em;
  width: 10em;
  box-shadow: 0.5vh 0.5vh 0.25vh #82a875;
}
