body{
    font-family: 'Lato', sans-serif;
}

.navbar {
    border: 0.5px solid;
    box-shadow: 1.25px 2.5px 3.25px #888888;
}

.logo_img {
    width: 20%;
    display: inline;
}

.logo_name {
    display: inline;
    vertical-align: middle;
    line-height: 1.5;
}

.title {
    display: inline-block;
    margin-left: 50%;
    transform: translate(-50%,0);
    width: 200px;
}

.start_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 70%
}

.menu_icon{
    font-size:30px;
    cursor:pointer;
    float: left;
    margin-left: 0.5em;
    vertical-align: middle;
    line-height: 1.5;
}

#shopping_cart{
    font-size:30px;
    cursor:pointer;
    float: right;
    margin-right: 0.5em;
    vertical-align: middle;
    line-height: 1.5;
}


.overlay_left {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay_left a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
}

.overlay_left a:hover, .overlay_left a:focus {
    color: black;
}

.overlay_left .closebtn {
    /*position: absolute;*/
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay_left a {font-size: 20px}
  .overlay_left .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.overlay_right {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay_right a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
}

.overlay_right a:hover, .overlay_right a:focus {
    color: black;
}
.overlay_right .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay_right a {font-size: 20px}
  .overlay_right .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}   
