body{
	margin: 0;
  background-color: #FFFFFF;
}
.parallax {
    min-height: 100vh;
    background: transparent;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    z-index: 2;
    position: fixed;
    width: 100%;
    opacity: 0.5;
    height: 6%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-top: 1.3em;
}

li a:hover {
    background-color: #111;
}

.name {
	float: left;
	color: white;
	font-size: 1.5em;
	padding-left: 1%;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-style: italic;
	letter-spacing: 0.25em;
	padding-top: 0.6em;
}

.content{
  background-color: #292828;
}

.start-image{
  display: block;
  margin: auto;
  width: 60%;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.name-featured{
  text-align: center;
  padding-top: 1rem;
  color: #333;
  font-family: monospace;
}

.gallery-wrapper-start{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 1rem;
  width: 50%;
  margin: auto;
  padding-top: 2rem;
}

.gallery-image-start img{
  width: 20em;
  height: 20em;
  border-radius: 5px;
}

.gallery-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 1rem;
  width: 50%;
  margin: auto;
  padding-top: 2rem;
}

.gallery-image img{
  width: 20em;
  height: 20em;
  border-radius: 5px;
}

.link{
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;

}

.button{
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 2.5px gray;
    margin-left: 20px;
    margin-right: 20px;
  }

.contact{
  display: block;
  text-align: center;
  margin-top: 2%;
}

.contact-image{
  display: inline-block;
  width: 25em;
  border: 2px;
  border-radius: 10px;
}
.form{
  display: inline-block;
  vertical-align: top;
  size: 50%;
  padding-left: 2rem;
  padding-top: 2rem;
}

.text-box{
  width: 20rem;
  border-radius: 5px;
}

textarea {
  width: 20rem;
  height: 8rem;
  border-radius: 5px;
}

.contact-ul{
  position: static;
}

.about-text{
  display: inline-block;
  vertical-align: top;
  padding-left: 2rem;
  padding-top: 2rem;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 30px;
}

#title{
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#text{
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 30px;
}

.contact-text{
  text-align: center;
  margin-top: 5%;
}

.display-none {
  display: none;
}
