body{
	margin: 0;
  background-color: #FFFEFE;
}
.parallax {
    min-height: 100vh;
    background: transparent;
    width: 100%;
}

/*
.start_content {
    width: 100%;
}

.images{
    display: inline-block;
    margin: 0px auto 10px auto;
    text-align: left;
    width: 50%;
}

#img_1, #img_2, #img_3 {
    display: inline-block;
    float: left;
    width: 31%;
    height: 25%;
    margin: 0.5em;
    border: 2px solid;
    border-radius: 8px;
    align-content: center;
}
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    z-index: 2;
    position: fixed;
    width: 100%;
    opacity: 0.5;
    height: 6%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-top: 1.3em;
}

li a:hover {
    background-color: #111;
}

.name {
	float: left;
	color: white;
	font-size: 1.5em;
	padding-left: 1%;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-style: italic;
	letter-spacing: 0.25em;
	padding-top: 0.6em;
}

.content{
  background-color: #292828;
}

.start-image{
  display: block;
  margin: auto;
  width: 60%;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.name-featured{
  text-align: center;
  padding-top: 1rem;
  color: #333;
  font-family: monospace;
}

.gallery-wrapper-start{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 1rem;
  width: 50%;
  margin: auto;
  padding-top: 2rem;
}

.gallery-image-start img{
  width: 20em;
  height: 20em;
  border-radius: 5px;
}

.gallery-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 1rem;
  width: 50%;
  margin: auto;
  padding-top: 2rem;
}

.gallery-image img{
  width: 20em;
  height: 20em;
  border-radius: 5px;
}

.link{
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;

}

.button{
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 5px 5px 2.5px grey;
}
